# For executing the codes of EpiCastBench, the following packages are required

pytorch-lightning==2.5.2
neuralforecast==3.1.7
darts[all]==0.44.1
pandas==2.2.2
numpy==2.0.2
matplotlib==3.10.0
scikit-learn==1.6.1
torch==2.10.0+cu128